@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

*,*::before,*::after{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* #################### utility classes ################ */

.p-1{
    padding: 1rem;
}

.pb-1{
    padding-bottom: 1rem;
}

.pt-1{
    padding-top: 1rem;
}

/* #################### destop nav ################ */

.desk-nav {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "one two";
    width: 100%;
    height: 8vh;
    background-image: linear-gradient(135deg, rgba(59, 67, 82, 0.815) 21%, rgba(69, 95, 181, 0.801) 100%);
    box-shadow: 0px 3px 13px 0px #000000c7;
    z-index: 999;
}


.logo {
    grid-area: one;
    display: flex;
    margin: 0 0 0 1rem;
    align-items: center;
    position: absolute;
    height: 100%;
    color: white;
    font-weight: bold;
    font-size: 5vmin;
}

.logo-wrapper {
    position : relative;
}

.name-front{
    display : block;
    color : #ffffff;
    position: relative;
}

.name-front::after{
    content: "\005F";
    position: absolute;
    display: none;
    bottom: 5%;
    right: -12%;
    opacity: 0.8;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-name : blink;
}

.logo-wrapper:hover > .name-front::after{
    display: block;
}

@keyframes blink {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 0;
    }
    0% {
        opacity: 0.8;
    }
}

.name-behind {
    position : absolute;
    transform: rotate(-2.5deg);
    top : 0;
    left : 0;
    color : #cf0000;
    opacity : 0.65;
    mix-blend-mode: darken;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-name : pulsate;
}

@keyframes pulsate {
    0% {
        transform: scale(1) rotate(-2.5deg);
    }
    50% {
        transform: scale(1.025) rotate(1.5deg) translateY(2.5px);
    }
    0% {
        transform: scale(1) rotate(-2.5deg);
    }
}
  

.desk-nav ul{
    grid-area: two;
    margin: 0 1rem 0 0 ;
    justify-content: end;
    display: flex;
    list-style: none;
    color: white;
    align-items: center;
}

.desk-nav ul li{
    margin: 0 1rem;
}

.mob-nav {
    display: none;
    position: sticky;
    top :0;
    z-index: 999;
}

/* #################### mob nav ################ */
.mob-nav input[type="checkbox"] {
    position: absolute;
    z-index: 2;
    top: 2.2%;
    left: 4%;
    width: 2rem;
    height: 2rem;
    opacity: 0;
    cursor: pointer;
}

.hamburger_lines {
    position: absolute;
    z-index: 1;
    top: 3%;
    left: 4%;
    width: 1.6rem;
    height: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger_lines span{
    height: 0.2rem;
    border-radius: 10px;
    background-color: #000000;
    transition: transform 0.3s ease-in-out;
}

.hamburger_lines .span-line1{
    transform-origin: top left;
}

.hamburger_lines .span-line3{
    transform-origin: bottom left;
}

.hamburger_links {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, rgba(30, 143, 255, 0.733) 21%, rgba(54, 54, 136, 0.719) 100%);
    filter: drop-shadow(0px 0px 10px #4444dd);
    justify-content: start;
    align-items: start;
    top : 10%;
    height: 100vh;
    width: 50vw;
    transform: translateX(-150%);
    transition: transform 0.5s ease-in-out;
    
}
.hamburger_links li{
    margin-top: 40%;
    margin-left: 9%;
    list-style: none;
    text-decoration: none;
}

.hamburger_links li a{
    font-size: 6vmin;
}

.mob-nav input[type="checkbox"]:checked ~ .hamburger_links{
    transform: translateX(0);
}

.mob-nav input[type="checkbox"]:checked ~ .hamburger_lines span{
    background-color: white;
}
.mob-nav input[type="checkbox"]:checked ~ .hamburger_lines .span-line1{
    transform-origin: top left;
    transform: rotate(41deg);
}
.mob-nav input[type="checkbox"]:checked ~ .hamburger_lines .span-line2{
    display: none;
}
.mob-nav input[type="checkbox"]:checked ~ .hamburger_lines .span-line3{
    transform-origin: bottom left;
    transform: rotate(-41deg);
}

/* #################### Styling ################ */


nav {
    position: relative;
}

.logo-link {
    text-decoration: none;
}

nav a:not(.logo-link) {
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 3vmin;
    transition: all 0.1s ease-in-out;
}

nav a:not(.logo-link):hover {
    text-shadow: 0px 5px 4px #292929;
    transform: translateY(-10%);
}

nav a:not(.logo-link):after {
    position: absolute;
    content: "";
    top: 110%;
    left: 0;
    width: 100%;
    transform: scale(0);
    display: block;
    border-bottom: 3px solid rgba(255, 255, 255, 0.836);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

nav a:not(.logo-link):hover:after {
    box-shadow: 0px 5px 4px #292929;
    transform: scale(1);
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    perspective: 10px;
}

header {
    position: relative;
    display: flex;
    top: -5%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transform-style: preserve-3d;
    z-index: -1;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    transform: translateZ(-20px) scale(3.5);
}
  
.title {
    font-size: 7vmin;
    color: white;
    opacity: 0;
    transform: translateY(15%);
    text-align: center;
    padding: 0rem 1rem;
    line-height: 4rem;
    text-shadow: 7px 7px 7px black;
    animation: title_enter 0.5s ease-in-out forwards;
}

@keyframes title_enter {
    100% {
        opacity : 1;
        transform: translateY(0);
    }
}

.title-name {
    font-size: 140%;
}

.gradient-text{
    background-image: linear-gradient(90deg, rgb(45 38 159),rgb(241 92 99), rgb(51 44 161));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 0;
    background-size: 300%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 10% 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 10% 50%;
    }
}

.main-section {
    font-size: 1.3rem;
    box-shadow: 3px 3px 20px 2px #000000;
    line-height: 2.5rem;
}

section {
    padding: 2rem;
    color: white;
}


.partition-section {
    position: relative;
}

.partition-section:first-child{
    height: 100vh;
}

.about-section {
    background-color: #2d4c69;
    display: grid;
    grid-template-columns: 40% 60%;
    place-items: center;
    grid-template-areas: 
    "one two";
}
.about-section-banner {
    grid-area: one;
    position: relative;
    height: 70%;
    width: 70%;
}

.about-section-banner img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
    border: 12px solid #6886A1;
}

.about-section-details {
    grid-area: two;
    font-style: italic;
}
.edu-section {
    background-color: #396085;
}

.backstory-section {
    background-color: #4175a5;
}

.quotation-mark {
    font-size: 3rem;
}

@media (max-width: 650px){
    .mob-nav {
        display: block;
    }

    .desk-nav {
        display: none;
    }

    header {
        position: relative;
        top: -75%;
        height: 100vh;
    }

    .title {
        position: absolute;
        top: 8%;
        line-height: 3.5rem;
    }

    .main-section {
        position: absolute;
        top: 100%;
        border-radius: 1rem 1rem 0 0;
        font-size: 1.1rem;
        line-height: 2rem;
    }

    .partition-section:first-child {
        height: 120vh;
    }

    .about-section {
        grid-template-columns: 1fr;
        grid-template-rows : 55% 45%;
        grid-template-areas: 
        "one"
        "two";
        border-radius: 1rem 1rem 0 0;
    }

    .about-section-banner {
        height: 80%;
        width: 100%;
    }

    .about-section-banner img {
        object-position: top;
    }

    .quotation-mark {
        font-size: 2.5rem;
    }

    .about-section-details{
        align-self: start;
        text-align: center;
    }
}
